*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family: Helvetica;
}

.container{
    min-height: 60vh;
    padding: 50px;
}

.products-container{
    max-width: none;
    margin: 0 auto;
    display: inline-block;
}

.card{
    width: 24%;
    text-align: center;
    
    display: inline-block;
    padding: 0.75rem;
    border: 1px solid #f6f6f6;
    box-shadow: #f6f6f6 0px 0px 20px 0px;
}

/*.product-image{
    height: 59vh;
    width: auto;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}*/

strong {
    font-weight: 400px;
}


.price {
    font-size: 1.625rem;
    font-weight: 400;
    color: #f8a53a;
    line-height: 1.35;
}

img {
    max-width: 100%;
    width: auto! important;
    max-height: 100%;
}

/*#img-1 {
    background-image: url(img/180_bata_kaftan_indiana_longuete_saida_de_praia_plus_size_54_2206_1_ad276f54511585e24e7d9acf08eaa3d2_20220228144250.webp);
}

#img-2 {
    background-image: url(img/180_vestido_feminino_alca_trapezio_plus_size_com_bolso_estampado_03_2196_1_bf1c13822406d82ee2f8f7203c949f07_20220228144249.webp);
}

#img-3 {
background-image: url(img/180_vestido_longo_alca_indiano_estampado_viscose_377_2136_1_4c8c15007a3196157c207b4c26f18840_20220228144155.webp);
}

#img-4 {
    background-image: url(img/180_pashimina_cachecol_lenco_xale_echarpe_lisa_2581_1_e119066f3726037a417dbd0f28146a46.webp);
}