*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family: Helvetica;
}

.container{
    min-height: 60vh;
    padding: 50px;
}

.products-container{
    max-width: none;
    margin: 0 auto;
    display: inline-block;
}

.card{
    width: 24%;
    text-align: center;
    
    display: inline-block;
    padding: 0.75rem;
    border: 1px solid #f6f6f6;
    box-shadow: #f6f6f6 0px 0px 20px 0px;
}

/*.product-image{
    height: 59vh;
    width: auto;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}*/

strong {
    font-weight: 400px;
}


.price {
    font-size: 1.625rem;
    font-weight: 400;
    color: #f8a53a;
    line-height: 1.35;
}

img {
    max-width: 100%;
    width: auto! important;
    max-height: 100%;
}

a {
    color: #fff;
    background-color: #f8a53a;
    height: 40px;
    line-height: 40px;
    font-size: .875rem;
    font-weight: 300;
    text-transform: uppercase;
    flex-grow: 1;
    margin-left: 0.75rem;
    border-radius: 20px;
    transition: ease-in-out .3s;
    display: none;
    text-decoration: none;
}

.card:hover a {
    display: block;
}